<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>thy</title>
    <meta charset="utf-8" name="viewport" content="width=device-width">
    <link rel="stylesheet" th:href="@{/webjars/mdui/dist/css/mdui.css}">
    <script th:src="@{/webjars/mdui/dist/js/mdui.js}"></script>

    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>



</head>
<body>
<select>
    <option th:each="s:${list}" th:value="${s.userId}" th:text="${s.userName}" th:selected="${s.userId}==1"></option>
</select>
<span th:each="s:${list}" th:text="|${s.userName},hello|"/>
</body>
</html>
